@import "variables.scss";
@import "fonts.scss";
@import "reset.scss";
// //*******************------>> Sections <<------*******************
//      1. Common Classes
//          1.1 Fonts
//          1.2 Text
//          1.3 custom scroll
//      2. Bootstrap Overright
//      3. Common Header
//      4. Home

// 1. Common Classes
//1.1 Fonts
.font-10 {
    font-size: 10px;
}

.font-12 {
    font-size: 12px;
    line-height: 16px;
}

.font-14 {
    font-size: 14px;
    line-height: 20px;
}

.font-16 {
    font-size: 16px;
    line-height: 22px;
}

.font-18 {
    font-size: 18px;
}

.font-20 {
    font-size: 20px;
}

.font-22 {
    font-size: 22px;
}

.font-24 {
    font-size: 24px;
}

.font-26 {
    font-size: 26px;
}

.font-28 {
    font-size: 28px;
}

.font-30 {
    font-size: 30px;
}

.font-32 {
    font-size: 32px;
}

//1.2 Text
.text-light {
    font-weight: 300;
}

.text-regular {
    font-weight: 400;
}

.text-medium {
    font-weight: 500;
}

.text-semibold {
    font-weight: 600;
}

.text-bold {
    font-weight: 700;
}

.text-itallic {
    font-style: italic;
}

.text-primary {
    color: $primary !important;
}

.text-secondary {
    color: $secondary !important;
}

.text-warning {
    color: $warning !important;
}

.text-danger {
    color: $danger !important;
}

.text-white {
    color: $white;
}

.text-muted {
    color: $text-200 !important;
}

.visibile-none {
    visibility: hidden;
}

.cursor-pointer {
    cursor: pointer;
}

// 1.3 custom scroll
.custom-scrollbar {
    overflow-y: scroll;
    overflow-x: hidden;

    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(241, 241, 241, 0.3);
        // border-radius: 10px;
        background-color: #f6f6f6;
    }

    &:hover{
        &::-webkit-scrollbar {
            width: 7px;
            height: 7px;
            background-color: $blue;
        }
    }
    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }

    &::-webkit-scrollbar-thumb {
        // border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(241, 241, 241, 0.3);
        // background-color: #f6f6f6;
    }

    &:hover {
        &::-webkit-scrollbar-thumb {
            background-color: $blue;
        }
    }
    &.scroll-w-0{
        &::-webkit-scrollbar {
            width: 0;
        }
    }
    &.scroll-h-0{
        &::-webkit-scrollbar {
            height: 0;
        }
    }
}

// 1.4 custom checkbox & radio
.custom-selection {
    display: block;
    position: relative;
    // padding-left: 35px;
    // margin-bottom: 12px;
    cursor: pointer;
    // font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    input{
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 22px;
        width: 22px;
        left: 0;
        top: 0;
        &:checked ~ .checkmark {
          background-color: $blue;
        }   
        // &:checked ~ .checkmark:after {
        //     display: block;
        // }   
        &[type='radio'] ~ .checkmark{
            border-radius: 100%;
        }
    }
    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 22px;
      width: 22px;
      background-color: #c6d9e7;
      &:after {
        content: "";
        position: absolute;
        // display: none;
      }
      &:after {
        left: 8px;
        top: 5px;
        width: 6px;
        height: 10px;
        border: solid $white;
        border-width: 0 2.5px 2.5px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }
    &:hover input ~ .checkmark {
      background-color: #1e6192;
    }
}
// 1.5 Btn icon
.btn-icon {
    width: 35px;
    height: 35px;
    border: 1px solid $black-300;
    display: flex;
    align-items: center;
    justify-content: center;
    i {
        color: $text-200;
    }

    &:hover,
    &:focus,
    &:focus:active,
    &:active {
        border-color: $text;

        i {
            color: $text;
        }
    }
}

.btn-icon-sm {
    width: 30px;
    height: 30px;
}

.btn-icon-xs {
    width: 22px;
    height: 22px;
}

.btn-disable {
    opacity: 0.5;
    cursor: default;
}

a.btn-icon {
    text-decoration: none;
}

.btn-icon-primary {
    border-color: $primary;

    i {
        color: $primary;
    }

    &:hover,
    &:focus,
    &:active {
        border-color: $primary;

        i {
            color: $primary;
        }
    }
}

.btn-icon-danger {
    border-color: #fd4233;

    i {
        color: #fd4233;
    }

    &:hover,
    &:focus,
    &:active {
        border-color: #fd4233;

        i {
            color: $white;
        }
    }
}
.btn-danger{
    background-color: $danger;
}
.btn-icon-success {
    border-color: $success;

    i {
        color: $success;
    }

    &:hover,
    &:focus,
    &:active {
        border-color: $success;

        i {
            color: $success;
        }
    }
}
.bg-blue{
    background-color: $blue;
}
.custom-toast{
    z-index: 6;
    position: absolute;
    top: 48px;
    right: 5px;
    .btn-close{
        width: 13px;
        height: 13px;
        background-size: 13px;
    }
}
// 2. Bootstrap Overright
.collapsing {
    -webkit-transition: none;
    transition: none;
}

.dropdown {
    .dropdown-toggle::after {
        display: none;
    }
}

.btn-primary {
    background-color: $primary;
    border-color: $primary;

    &:hover,
    &:focus,
    &:active {
        background-color: #218dc1;
        border-color: #218dc1;
        outline: none;
        box-shadow: none;
    }
}

.btn-outline-primary {
    border-color: $primary;
    color: $primary;

    &:hover,
    &:focus,
    &:active {
        border-color: #218dc1;
        color: #218dc1;
    }
}
.bg-primary{
    background-color: $primary !important;
}
.bg-warning {
    background-color: $warning !important;
}

.bg-danger {
    background-color: $danger !important;
}

.form-control:focus,
.form-control:active,
.form-control:active:focus {
    box-shadow: none;
    outline: none;
}
.btn-sm{
    margin-top: 3px !important;
    padding: 4px 9px;
    border-radius: 2px;
}
// Header
.custom-header{
    padding: 0;
    background-color: #236194;
    .navbar-brand img{
        width: 125px;
    }
    .user-profile{
        .nav-link{
            padding: 6px;
        }
        .dropdown-menu.show{
            left: unset;
            right: 0;
            top: 35px;
        }
        .dropdown-item {
            padding: 10px 15px;
        }
    }
}
// 3. Main Panel
.top-info-card {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}
.main-panel{
    height: 100vh;
    padding: 105px 15px 0 0;
    overflow-y: hidden;
    overflow-x: hidden;
}
.tab-wrapper {
    background: #57646e;
    border-radius: 4px;
    padding: 5px;
    ul {
        li {
            width: 50%;
            padding: 8px 10px;
            // border-radius: 4px;
            span{
                color: #b9c6d1;
            }
            .badge{
                color: $white;
                background-color: #3a4751;
                padding: 1px 6px;
                line-height: 16px;
                border-radius: 4px;
                margin-left: 4px;
            }
            &.active {
                background-color: #2a7bb6;
                border-color: #2a7bb6;
                span{
                    color: $white;
                }
                .badge{
                    color: $blue;
                    background-color: $white;
                }
            }
        }
    }
}

.main-tab.tab-wrapper{
    background: transparent;
    position: relative;
    z-index: 1;
    // border-radius: 0;
    ul{
        width: 300px;
        margin: 0 auto;
        background: #c6d9e7;
        // width: 100% !important;
        // height: 36px;
        // margin: 0 auto;
        // float: unset !important;
        // border-radius: 4px;
        // padding: 3px;
        // margin-bottom: 5px;
        li{
            // width: auto !important;
            padding: 0;
            button{
                padding: 10px;
                border-radius: 0;
                width: 100%; 
                border: none;
                &.active{
                    background: #2a7bb6;
                    span,i{
                        color: $white;
                    }
                    // .badge{
                    //     color: $blue;
                    //     background-color: $white;
                    // }
                }
                span, i{
                    color: $blue;
                }
                // .badge{
                //     color: $blue;
                //     background-color: #a9c4d9;
                // }
            }
        }
    }
}
.landing-content{
    max-height: 84vh;
    max-width: 800px;
    margin: 0 auto;
    .landing-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50vh;
        button{
            border-radius: 30px;
            padding: 5px 10px;
            background: $white;
            border-radius: 9px;
        }
    }
}
.left-sidebar {
    position: fixed;
    left: 5px;
    top: 105px;
    max-width: 275px;
    height: 85vh;
    background-color: $grey-900;
    // padding: 10px;
    z-index: 1;
    .tab-wrapper{
        padding: 0;
        border-radius: 0;
    }
    .tab-content {
        padding: 10px;
        .faq-wrapper {
            overflow-y: scroll;
            overflow-x: hidden;
            height: 76vh;
            padding: 0 4px;
            .date-group{
                color: $text-200;
            }
            .new-btn{
                border: 1px solid $white;
                padding: 7px 14px;
                color: $white;
                border-radius: 4px;
                opacity: 0.5;
                i{
                    color: $white;
                }
                &:hover{
                    opacity: 1;
                }
            }
            ul {
                li {
                    padding: 10px 5px;
                    border-radius: 4px;
                    .qsn-chat{
                        width: calc(100% - 4px);
                        overflow: hidden;
                        height: 21px;
                        color: $black-300;
                    }
                    .action{
                        display: none;
                    }
                    &:hover {
                        background-color: #505050;
                        .action{
                            padding-left: 25px;
                            display: block;
                            right: 0;
                            top: 7px;
                            background: rgb(255,255,255);
                            background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgb(80 80 80) 26%, rgb(80 80 80) 100%);
                            .btn-icon{
                                border-color: $white;
                                i{
                                    color: $white;
                                }
                            }
                        }
                    }
                }
            }
        }
        .document-wrapper{
            .faq-wrapper {
                ul li  {
                    opacity: 0.5;
                    &.selected{
                        opacity: 1;
                    }
                    .qsn-chat{
                        height: 26px;
                        img{
                            width: 20px;
                            margin-top: 4px;
                        }
                        .document-name {
                            width: calc(100% - 60px);
                        }
                        .custom-selection {
                            top: 4px;
                            height: 20px;
                            width: 20px;
                            margin-right: 8px;
                            input {
                                & ~ .checkmark{
                                    background-color: $white;
                                }
                                &:checked ~ .checkmark{
                                    background-color: $white;
                                    &::after{
                                        border-color: #3c3c3c;
                                        left: 7px;
                                        top: 4px;
                                    }
                                }
                            }
                            .checkmark{
                                height: 20px;
                                width: 20px;
                            }
                        }
                        .owl-loader-sm {
                            margin: 4px 3px 0 0;
                        }
                    }
                }
            }
        }
    }
}

.content {
    width: calc(100% - 275px);
    margin-left: 275px;
    max-height: 73vh;
    overflow-y: scroll;
    .search-wrapper{
        height: 80vh;
        display: none;
        .card{
            border: none;
            border-radius: 0;
            &.rounded{
                border-radius: 10px;
            }
            &.qsn-wraper{
                .name-initial {
                    left: -56px;
                    top: 0px;
                    padding: 18px;
                    border-top-left-radius: 10px;
                    border-bottom-left-radius: 10px;
                }
            }
            .ai-loader{
                left: -55px;
                background: white;
                top: 0px;
                padding: 12px;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
                img{
                    width: 30px;
                }
            }
        }
        .chatHistorySelected{
            .name-initial{
                background-color: $blue;
            }
        }
        .companyDocumentsSelected{
            .name-initial{
                background-color: $blue;
            }
        }

        .small-snippet-view{
            .snippet-wrapper{
                overflow-x: scroll;
                overflow-y: hidden;
                display: flex;
                white-space: nowrap;
                .snippet-item{
                    width: 225px;
                    background-color: #f9f9fa;
                    padding: 6px 10px 10px 10px;
                    margin-right: 10px;
                    border-radius: 5px;
                    border: 1px solid #ececec;
                    position: relative;
                    border-left: 5px solid $blue;
                    .pdf-name{
                        max-width: calc(100% - 40px);
                        margin-right: 10px;
                    }
                    span{
                        color: $grey-900;
                    }
                    .action-wrapper{
                        display: none;
                    }
                    &:hover{
                        .action-wrapper{
                            display: block;
                            position: absolute;
                            z-index: 1;
                            top: 3px;
                            right: 3px;
                            .btn-icon{
                                background-color: #f9f9fa;
                            }
                        }
                    }
                }
            }
        }
    }

    .top-content {
        max-height: 84vh;
        max-width: 800px;
        margin: 0 auto;
        padding-bottom: 80px;
    }

    .bottom-ask {
        margin: 0 auto;
        position: fixed !important;
        bottom: 8px;
        right: 190px;
        width: 100%;
        max-width: 800px;
        textarea {
            resize: none;
            border-radius: 10px;
            padding: 16px 0 0 15px;
        }

        .btn-search {
            top: 9px;
            right: 12px;
            padding: 10px 11px;
            border-radius: 100%;
            background-color: $blue;
            &.btn-faq{
                right: 63px;
                top: 7.5px;
                border: 1px solid $secondary;
                background-color: $white;
                &.inactive{
                    background: none;
                }
                &.active{
                    border: none;
                    i{
                        color: $white !important;
                    }
                }
            }
        }
        .faq-wrapper {
            position: absolute;
            z-index: 2;
            bottom: 0;
            background: #fff;
            max-height: 75vh;
            animation: 1s slide-up;
            bottom: 58px;
            left: 0;
            box-shadow: 0 0 4px #ccc;
            border-radius: 10px;
            overflow: hidden;
            border: 1px solid #e7e7e7;
            ul {
                li:last-child{
                    border: none !important;
                }
            }
        }
    }
}

.leftbarClosed.snippetclosed .content {
    width: 100%;
}
.summaryHalf{
    .content{
        width: 540px;
        margin: 0;
        .top-content{
            width: 100%;
            .search-wrapper{
                padding: 0 0 0 75px;
                .inactive{
                    opacity: 0.5;
                }
            }
            .snippethalfview-wrppaer{
                // width: calc(100% - 15px) !important;
                .timeline-item.active{
                    background-color: #fbfdff;
                    .name-wrapper{
                        background-color: $blue;
                        border-top-left-radius: 4px;
                        border-top-right-radius: 4px;
                        .pdf-name{
                            color: $white !important;
                        }
                        .btn-icon{
                            background: #134c75;
                            border: #134c75;
                            i{
                                color: $white;
                            }
                        }   
                    }
                }
            }
        }
        .bottom-ask{
            margin: 0;
            right: unset;
            width: calc(100% - 915px) !important;
            left: 15px;
        }
    }
}
.pdfFullView{
    .top-content .tab-wrapper {
        ul.nav{
            width: 100% !important;
            height: 36px;
            margin: 0 auto;
            float: unset !important;
            background: #c6d9e7;
            border-radius: 0;
            margin-left: 20px;
            margin-bottom: 5px;
            li{
                width: auto !important;
                padding: 0;
                button{
                    padding: 8px 15px;
                    border-radius: 0; 
                    &.active{
                        background: #2a7bb6;
                        span{
                            color: $white;
                        }
                        .badge{
                            color: $blue;
                            background-color: $white;
                        }
                    }
                    span{
                        color: $blue;
                    }
                    .badge{
                        color: $blue;
                        background-color: #a9c4d9;
                    }
                }
            }
        }
    }
    iframe{
        height: 76vh;
    }
}
.right-sidebar {
    width: calc(100% - 550px);
    max-width: calc(100% - 550px);
    height: 83vh;
    background-color: $white;
    .close-snippet {
        padding: 5px 10px;
        top: 3px;
        position: absolute;
        right: 10px;
    }
    .tab-wrapper {
        ul {
            width: calc(100% - 20px);

            li {
                padding: 5px;

                .tab-name {
                    top: 2px;
                }

                .badge {
                    padding: 1px 4px;
                }

                &:last-child {
                    border-right: 0;
                    border-radius: 0;
                }

                .badge {
                    background-color: $secondary;
                    color: $white;
                    font-weight: 400;
                }

                &.active {
                    .badge {
                        background-color: $white;
                        color: $primary;
                    }
                }
            }
        }

        .more-icon {
            border: 1px solid #ecf0f3;
            border-top-right-radius: 7px;
            border-bottom-right-radius: 7px;
            padding: 6px 7px;
        }
    }

    .snippet-list-wrapper {
        overflow-y: scroll;
        overflow-x: hidden;
        height: 76vh;

        .timeline-item {
            border-radius: 5px;
            .name-wrapper{
                width: calc(100% - 135px);
                .pdf-icon{
                    width: 25px;
                    height: 25px;
                    background-image: url('../images/pdf-file.svg');
                    background-size: 100%;
                }
                .pdf-name{
                    max-width: calc(100% - 145px);
                    margin-top: 4px;
                }
                .page-nu{
                    background-color: #c2d7e4;
                    border-radius: 2px;
                    margin-top: 1px;
                }
            }
        }
    }
}
.background {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    left: 0;
    top: 0;
}

// Keyframes
@keyframes slide-up {
    from {
      max-height: 0vh;
    }
    to {
    max-height: 100vh;
    }
}
@keyframes slide-left{
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}
.spin{
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
