<nav class="custom-header navbar navbar-expand-lg ">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="./assets/images/owl-esg-logo.png" />
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown user-profile">
                <a class="nav-link dropdown-toggle bg-white rounded-circle" id="navbarDarkDropdownMenuLink" role="button"
                   data-bs-toggle="dropdown" aria-expanded="false">
                   <!-- <i class="fa-regular fa-user text-primary user-icon"></i> -->
                   <span class="name font-12 text-primary">AW</span>
                </a>
                <ul class="dropdown-menu py-0" aria-labelledby="navbarDarkDropdownMenuLink">
                   <li class="user-details dropdown-item bg-primary py-3">
                      <p class="text-center text-medium text-white w-100">Ana Watson</p>
                      <p class="text-center text-white font-12 w-100 mt-1">Admin</p>
                   </li>
                   <!-- <li class="dropdown-item float-start w-100"><a class="float-start w-100" href="#"><i
                    class="fa-solid fa-gear"></i> Profile Setting</a></li> -->
                   <li class="dropdown-item float-start w-100">
                    <a class="float-start w-100 font-12" href="#">
                        <i class="fa-solid fa-right-from-bracket me-1"></i> Logout</a></li>
                </ul>
             </li>
        </ul>
      </div>
    </div>
  </nav>